
### Builder
target/
build/
out/
gen/
allure-results/
.gradle/
local.properties
bin/

### IntelliJ
.idea/
*.iml
*.ipr
*.iws

### Eclipse
.settings/
.project
.classpath
.mymetadata

### Package Files
*.jar
*.war
*.ear

### Other
.DS_Store
*.log
*.bak
